{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Blog</title>
  {% endblock %}



  {% block content %}

  <div class="layout_padding-bottom">

    <!-- blog section -->

    <section class="blog_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Letest Blog
                </h2>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog_container">
        <div class="blog_bg">
          <img src="{% static 'images/gallery-bg.png' %}" alt="" />
        </div>
        <div class="container">
          <div class="blog_box">
            <div class="row">
              <div class="col-md-6">
                <div class="box b1">
                  <div class="img-box">
                    <img src="{% static 'images/blog1.jpg' %}" alt="" />
                  </div>
                  <div class="blog-detail">
                    <div class="blog_title">
                      <h5>
                        Best photography
                      </h5>
                      <div class="blog_post">
                        <h6>
                          Post By: Pic studio
                        </h6>
                        <h6>
                          16-01-2020
                        </h6>
                      </div>
                    </div>
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box b2">
                  <div class="img-box">
                    <img src="{% static 'images/blog2.jpg' %}" alt="" />
                  </div>
                  <div class="blog-detail">
                    <div class="blog_title">
                      <h5>
                        Photography
                      </h5>
                      <div class="blog_post">
                        <h6>
                          Post By: Pic studio
                        </h6>
                        <h6>
                          16-01-2020
                        </h6>
                      </div>
                    </div>
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end blog section -->
  </div>

  <!-- info section -->

  <section class="info_section ">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="heading_container">
          <h2>
            Contact Us
          </h2>
        </div>
        <div class="info_main">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <div class="info_contact ">
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="{% static 'images/location.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      Location
                    </h6>
                  </div>
                </a>
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="{% static 'images/mail.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      demo@gmail.com
                    </h6>
                  </div>
                </a>
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="!{% static 'images/call.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      Call +01 1234567890
                    </h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2 col-lg-3">
              <div class="info_link-box">
                <ul>
                  <li class=" active">
                    <a class="" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'about' %}">About </a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'gallery' %}">Gallery </a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'blog' %}">Blog </a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'testimonial' %}">Testimonial </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="social_box">
                <a href="#">
                  <img src="{% static 'images/facebook.png' %}" alt="" />
                </a>
                <a href="#">
                  <img src="{% static 'images/twitter.png' %}" alt="" />
                </a>
                <a href="#">
                  <img src="{% static 'images/linkedin.png' %}" alt="" />
                </a>
                <a href="#">
                  <img src="{% static 'images/instagram.png' %}" alt="" />
                </a>
                <a href="#">
                  <img src="{% static 'images/youtube.png' %}" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  {% endblock %}