{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Testimonial</title>
  {% endblock %}



  {% block content %}


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <div class="heading_container">
            <h2>
              What Says Customer
            </h2>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="client_container">
      <div class="client_bg">
        <img src="{% static 'images/gallery-bg.png' %}" alt="" />
      </div>
      <div class="container">
        <div class="client_box">
          <div class="row">
            <div class="col-lg-6">
              <div class="box b1">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="client_content-box layout_padding">
                        <div class="img-box">
                          <img src="{% static 'images/quote.png' %}" alt="" />
                        </div>
                        <div class="detail-box">
                          <h4>
                            Plio Dorak
                          </h4>
                          <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                          </p>
                          <img src="{% static 'images/quote.png' %}" alt="" />
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="client_content-box layout_padding">
                        <div class="img-box">
                          <img src="{% static 'images/client.png' %}" alt="" />
                        </div>
                        <div class="detail-box">
                          <h4>
                            Plio Dorak
                          </h4>
                          <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                          </p>
                          <img src="{% static 'images/quote.png' %}" alt="" />
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="client_content-box layout_padding">
                        <div class="img-box">
                          <img src="{% static 'images/client.png' %}" alt="" />
                        </div>
                        <div class="detail-box">
                          <h4>
                            Plio Dorak
                          </h4>
                          <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                          </p>
                          <img src="{% static 'images/quote.png' %}" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box b2">
                <div class="camera_img-box">
                  <img src="{% static 'images/camera.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- info section -->

  <section class="info_section ">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="heading_container">
          <h2>
            Contact Us
          </h2>
        </div>
        <div class="info_main">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <div class="info_contact ">
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="{% static 'images/location.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      Location
                    </h6>
                  </div>
                </a>
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="{% static 'images/mail.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      demo@gmail.com
                    </h6>
                  </div>
                </a>
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="{% static 'images/call.png' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      Call +01 1234567890
                    </h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2 col-lg-3">
              <div class="info_link-box">
                <ul>
                  <li class=" active">
                    <a class="" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'about' %}">About </a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'gallery' %}">Gallery </a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'blog' %}">Blog </a>
                  </li>
                  <li class="">
                    <a class="" href="{% url 'testimonial' %}">Testimonial </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="social_box">
                <a href="#">
                  <img src="{% static 'images/facebook.png' %}" alt="" />
                </a>
                <a href="#">
                  <img src="{% static 'images/twitter.png' %}" alt="" />
                </a>
                <a href="#">
                  <img src="{% static 'images/linkedin.png' %}" alt="" />
                </a>
                <a href="#">
                  <img src="{% static 'images/instagram.png' %}" alt="" />
                </a>
                <a href="#">
                  <img src="{% static 'images/youtube.png' %}" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  {% endblock %}